<mat-toolbar color="primary" class="mat-elevation-z3">
	<button mat-icon-button (click)="shared.sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	Angular YouTube Data API
	<span fxFlex></span>
	<a routerLink="." mat-icon-button matTooltip="View docs">
		<mat-icon>code</mat-icon>
	</a>
	<mat-chip-list>
		<mat-chip *ngIf="!shared.isProd" color="accent" (click)="shared.openDevConfig()">
			<mat-icon inline class="chip-icon">build</mat-icon>
			Developer Mode</mat-chip>
	</mat-chip-list>
	<app-version-picker></app-version-picker>
</mat-toolbar>
<div class="padding-percentage-container">
	<h1>Demos</h1>
	<mat-card class="demo-card">
		<a class="demo-card-section" fxLayout="row" [routerLink]="['/demos', demo.id]" *ngFor="let demo of demos">
			<mat-icon *ngIf="demo.icon && !demo.svgIcon">{{demo.icon}}</mat-icon>
			<mat-icon *ngIf="!demo.icon && demo.svgIcon" [svgIcon]="demo.svgIcon"></mat-icon>
			<span fxFlex="3"></span>
			<span>{{demo.name}}</span>
			<span fxFlex></span>
			<mat-icon>navigate_next</mat-icon>
		</a>
	</mat-card>
</div>