/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@mixin demo-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  mat-card.hover {
    @include mat-elevation-transition;
    &:hover {
      @include mat-elevation(8);
    }
  }
  .strike>span {
    &::before,
    &::after {
      background-color: map-get($foreground, divider);
    }
    color: map-get($foreground, text);
  }
  .active-link {
    // Since it's a bit hard to actually see the text in the dark theme, it'll use the accent color if it's dark and primary if it's not. Same applies for mat-icon
    color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
    mat-icon {
      color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
    } // Note: These colors are based on the Android sidenav selection state
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  }
  .currently-selected {
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  }
  a.anchor-link {
    color: mat-color($primary);
    &:active {
      color: mat-color($accent);
    }
  }
  .mat-list-item:not(.active-link) .mat-list-item-content mat-icon, .icon {
    color: map-get($foreground, icons);
  }
  .error-icon {
    color: mat-color($warn) !important;
  }
}

@include mat-core();

$demo-primary: mat-palette($mat-indigo);
$demo-accent: mat-palette($mat-pink, A200, A100, A400);

$demo-app-theme: mat-light-theme($demo-primary, $demo-accent);
@include angular-material-theme($demo-app-theme);
@include demo-theme($demo-app-theme);

$demo-dark-primary: mat-palette($mat-teal);
$demo-dark-accent: mat-palette($mat-amber, A200, A100, A400);

$demo-dark-app-theme: mat-dark-theme($demo-dark-primary, $demo-dark-accent);

.dark-theme {
  @include angular-material-theme($demo-dark-app-theme);
  @include demo-theme($demo-dark-app-theme);
}
pre, code, xmp, kbd {
  font-family: 'Roboto Mono', monospace;
  white-space: pre-wrap;
}

.example-search-result-card {
  max-width: 350px;
  box-sizing: border-box;
  margin: 8px;
}

.example-search-result-card .example-search-result-card-title {
  line-height: 30px;
}

.example-card-title {
  line-height: 40px;
}

.example-card-actions>* {
  margin: 0 8px !important;
}

.paginator {
  text-align: center;
  margin: 8px;
}

.paginator>* {
  margin: 8px;
}

.example-form>* {
  margin-bottom: 10px;
}

.example-radio-button {
  margin: 5px;
}

/* Code adapted from material.angular.io */

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.docs-sidenav {
  min-width: 250px;
}

.padding-percentage-container {
  padding: 5%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-icon {
  font-size: 72px;
  width: 72px !important;
  height: 72px !important;
}

.mat-button, .mat-stroked-button, .mat-raised-button, .mat-flat-button, .mat-simple-snackbar-action {
  text-transform: uppercase;
}

.chip-icon {
  margin-right: 8px;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-title mat-icon {
  margin-right: 20px;
}

// Adapted from https://github.com/angular/material.angular.io/issues/333#issuecomment-410070162
@media print {
  // Force to print colors, otherwise the material components will look white
  color-adjust: exact;
  -webkit-print-color-adjust: exact;

  body {
    overflow: auto;
    // Roboto not printing ok on Chrome, fallback on supported fonts
    font-family: 'Helvetica Neue', sans-serif !important;
    
    mat-sidenav-container {
      // Remove background color to save toner
      background-color: transparent !important;
      // Override the color from the template
      color: black !important;
      // Position needs to be relative
      position: relative !important;
      overflow: visible !important;
      mat-sidenav-content {
        // Remove the content margin if sidenav is expanded when hidden for print
        margin: 0 !important;

        // Remove max width and padding from containers to flow text depending on printer page sizes
        [class$="container"] {
          min-width: 0 !important;
          padding: 0 !important;
        }

        // Roboto not printing ok on Chrome, fallback on supported fonts
        .mat-typography, .mat-card {
          font-family: 'Helvetica Neue', sans-serif !important;
          h1, h2, h3, h4, h5 {
            font-family: 'Helvetica Neue', sans-serif !important;
          }
        }
        .mat-button, .mat-raised-button, .mat-icon-button,
        .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
          font-family: 'Helvetica Neue', sans-serif !important;
        }

        // Define where a page break should occur when printing
        h2 {
          page-break-before: always; // always break before h2 elements, for chapters for example
        }
        h3, h4 {
          page-break-after: avoid; // avoid breaking after subtitles, it looks weird
        }
        pre, blockquote, img {
          page-break-inside: avoid; // avoid breaking inside pre and blockquotes
        }
      }
    }
  }
  // Hide website controls when printing
  #app-toolbar, .hide-print, .mat-tooltip-panel {
    display: none !important;
  }
}
.print-btn {
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}
