<mat-sidenav-container fullscreen>
	<mat-sidenav #docsSidenav class="docs-sidenav">
		<mat-toolbar>
			Links
			<span fxFlex></span>
			<button mat-icon-button (click)="docsSidenav.close()" matTooltip="Close" matTooltipPosition="right" aria-label="Close sidenav"><mat-icon>keyboard_arrow_left</mat-icon></button>
		</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/demos/demoList" routerLinkActive="active-link">
				<mat-icon matListIcon svgIcon="docs:demo"></mat-icon>
				<h3 matLine>Demos</h3>
				<span fxFlex></span>
				<button mat-icon-button (click)="toggleDemosList($event)" aria-label="Toggle demos" matTooltip="Toggle demos list" matTooltipPosition="right">
					<mat-icon [@toggleIconAnim]="toggleState">keyboard_arrow_right</mat-icon>
				</button>
			</a>
			<div [@toggleItemsAnim]="toggleState">
				<a mat-list-item *ngFor="let demo of demos" [routerLink]="['demos', demo.id]" routerLinkActive="active-link">
					<mat-icon matListIcon *ngIf="demo.icon && !demo.svgIcon">{{demo.icon}}</mat-icon>
					<mat-icon matListIcon *ngIf="demo.svgIcon" [svgIcon]="demo.svgIcon"></mat-icon>
					<h3 matLine>{{demo.name}}</h3>
				</a>
			</div>
			<mat-divider></mat-divider>
			<a mat-list-item routerLink="/docs/docList" routerLinkActive="active-link">
				<mat-icon matListIcon>chrome_reader_mode</mat-icon>
				<h3 matLine>Docs</h3>
				<span fxFlex></span>
				<button mat-icon-button (click)="toggleDocsList($event)" aria-label="Toggle demos" matTooltip="Toggle docs list" matTooltipPosition="right">
					<mat-icon [@toggleIconAnim]="toggleStateDocs">keyboard_arrow_right</mat-icon>
				</button>
			</a>
			<div [@toggleItemsAnim]="toggleStateDocs">
				<a mat-list-item *ngFor="let doc of docs" [routerLink]="['docs', doc.id]" routerLinkActive="active-link">
					<mat-icon matListIcon *ngIf="doc.icon && !doc.svgIcon">{{doc.icon}}</mat-icon>
					<mat-icon matListIcon *ngIf="doc.svgIcon" [svgIcon]="doc.svgIcon"></mat-icon>
					<h3 matLine>{{doc.name}}</h3>
				</a>
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" class="mat-elevation-z3">
			<button mat-icon-button (click)="docsSidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			Angular YouTube Data API
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>