<h2 matDialogTitle>{{ opts?.title ? opts?.title : 'YouTube Video Picker' }}</h2>
<mat-dialog-content fxLayout="column">
  <div class="example-dialog-container" fxLayout="column">
    <form [formGroup]="searchForm" fxLayout="column" class="example-form" (keydown.enter)="searchVideos()">
      <mat-form-field>
        <mat-label>Search for a video, or enter a video ID/URL</mat-label>
        <input matInput formControlName="query" type="search">
        <mat-error>This is required.</mat-error>
        <button mat-icon-button matSuffix (click)="searchVideos()" type="button"><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </form>
    <div class="example-table-container" fxLayout="column" [style.display]="(data.length > 0) ? 'block' : 'none'">
      <table mat-table [dataSource]="data" class="example-table">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!opts?.selectMultiple || data.length === 0"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
          <td mat-cell *matCellDef="let row"><img [src]="row?.snippet?.thumbnails?.high?.url"></td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row?.snippet?.title }}</td>
        </ng-container>
        <ng-container matColumnDef="channelTitle">
          <th mat-header-cell *matHeaderCellDef>Uploaded by</th>
          <td mat-cell *matCellDef="let row">{{ row?.snippet?.channelTitle }}</td>
        </ng-container>
        <ng-container matColumnDef="publishedAt">
          <th mat-header-cell *matHeaderCellDef>Published at</th>
          <td mat-cell *matCellDef="let row">{{ row?.snippet?.publishedAt | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 30, 50]" [length]="resultsLength"></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose="cancel" color="primary">Cancel</button>
  <button mat-button [matDialogClose]="selection" color="primary" [disabled]="selection.isEmpty()">Select</button>
</mat-dialog-actions>
